<!-- <div class="background-lg">

  <header id="home" class="hero-area-2">
    <div class="overlay"></div>
    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
      <div class="container">
        <a [routerLink]="['/']" class="navbar-brand animated fadeIn" style="animation-delay: 0.1s;"><img src="../../../assets/images/logo.png"
            alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav pull-right">
            <li class="nav-item animated fadeIn" style="animation-delay: 0.3s;">
              <a class="nav-link page-scroll" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
            </li>
            <li class="nav-item animated fadeIn" style="animation-delay: 0.3s;">
              <a class="nav-link page-scroll" [routerLink]="['/account/news-announcement']" routerLinkActive="router-link-active">News</a>
            </li>
            <li class="nav-item animated fadeIn" style="animation-delay: 0.5s;">
              <a class="nav-link page-scroll" [routerLink]="['/account/login']" routerLinkActive="router-link-active">Login</a>
            </li>
            <li class="nav-item animated fadeIn" style="animation-delay: 0.7s;">
              <a class="nav-link page-scroll home-register" [routerLink]="['/account/register']" routerLinkActive="router-link-active">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row row xs-mb-50 xs-ptb-100">
        <div class=" col-md-12 col-xs-12">
          <div class="row">
            <div class="col-xs-3 col-md-4 text-right animated fadeInUp">
              <img class="xs-mt-20" src="../../../assets/images/ic.png">
            </div>
            <div class="col-xs-9 col-md-7 head-title text-left animated fadeInUp">
              <h1><span>BUU</span> Exchange</h1>
              <h1>You can trust</h1>
            </div>
          </div>
        </div>

      </div>
    </div>
  </header>
  <app-slider></app-slider>
  <div class="service-section xs-pt-60">
    <div class="container">
      <div class="row">
        <div class=" col-md-4 text-center animated fadeInUp" style="animation-delay: 0.1s;">
          <div class="bg-availability"></div>
          <h4 class="xs-mt-20">99.999% service availability</h4>
        </div>
        <div class=" col-md-4 text-center animated fadeInUp" style="animation-delay: 0.3s;">
          <div class="bg-stability"></div>
          <h4 class="xs-mt-20">Time proven financial stability</h4>
        </div>
        <div class=" col-md-4 text-center animated fadeInUp" style="animation-delay: 0.6s;">
          <div class="bg-theft"></div>
          <h4 class="xs-mt-20">0% user’s funds theft</h4>
        </div>

      </div>
    </div>
  </div>
  <div class="service-section xs-ptb-60">
    <div class="container">
      <div class="row">
        <div class=" col-md-3 text-center animated fadeInUp" style="animation-delay: 0.6s;">
          <div class="service-block">
            <div class="bg-bitcoin_22"></div>
            <h4 class="xs-mt-20">Set for the acquisition, trade and currency exchange.</h4>
          </div>
        </div>
        <div class=" col-md-3 text-center animated fadeInUp" style="animation-delay: 0.8s;">
          <div class="service-block">
            <div class="bg-bitcoin_10"></div>
            <h4 class="xs-mt-20">Exchanging crypto to your Card or Bank account & withdraw in ATM.</h4>
          </div>
        </div>
        <div class=" col-md-3 text-center animated fadeInUp" style="animation-delay: 1s;">
          <div class="service-block">
            <div class="bg-withdrawal"></div>
            <h4 class="xs-mt-20">Unlimited deposits / Withdraws. We don’t check your transfers.</h4>
          </div>
        </div>
        <div class=" col-md-3 text-center animated fadeInUp" style="animation-delay: 1.2s;">
          <div class="service-block">
            <div class="bg-cards"></div>
            <h4 class="xs-mt-20">We provides you with high limits of your cards.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="service-section xs-ptb-50">
    <div class="container">
      <div class="row">
        <div class=" col-md-7 text-left">
          <p>
            Because other crypto is backed by some rules that other people come up with but not you. BUU gives freedom
            and the price is dependent only on people like you.
          </p>
          <p>
            Technology is behind BUU Coin, so we see such growth, in future BUU will be widely used, therefore, such
            interest from investors.
          </p>
          <p>
            It is clear that while BUU Coin is no longer considered as money, but as an investment, as some securities
            in which it is not so easy to invest, but profitable. And the fact that BUU Coin is becoming more
            expensive, consider this a "small" bonus.
          </p>
          <p>
            Our crypto is independent money for which there is no need to count and whose account is not maintained by
            any state. Is this not a major plus?
          </p>
        </div>
        <div class=" col-md-5 text-center">
          <div class="bg-become_better"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="service-section xs-ptb-50">
    <div class="container">
      <div class="row">
        <div class=" col-md-5 text-left">
          <div class="bg-become_better_2"></div>
        </div>
        <div class=" col-md-7  text-left">
          <h4 class=" mt-5">
            <strong>BUU Coin is the ability to earn past the system. This is a chance for ordinary people with brains
              at least a little to earn.</strong>

          </h4>
          <p>
            You can transmit BUU Coin on the network, without using intermediate servers or other auxiliary tools. That
            is why such transactions are as safe as possible. You can also transfer your currency in our chat manually
            using our operators.
          </p>
          <p>
            Moreover, BUU Coin has its own personal exchange and enables its customers to buy and sell currency inside
            the system, exchange it, and also provides its Debit Cards, you can use them anywhere in the world and
            absolutely anonymously.
          </p>
          <p>
            This is the first crypto currency that issues cards for its customers. The main advantage of BUU is that
            our currency gives you the opportunity to withdraw your funds anywhere, but at the same time you are given
            limits that none of the banks in the world
            give.
          </p>

        </div>

      </div>
    </div>
  </div>
  <div class="whychoose-section xs-pb-50">
    <div class="container">
      <div class="row xs-mb-20">
        <div class=" col-md-12 text-center">
          <h1>Why Choose Buu Exchange</h1>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="why-block">
            <div class="img">
              <div class="bg-w1"></div>
            </div>
            <h4>payment options</h4>
            <p>Most popular methods: Bitcoin,cryptocurrency</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="why-block">
            <div class="img">
              <div class="bg-w2"></div>
            </div>
            <h4>strong security</h4>
            <p>Protection against DDoS attacks, full data encryptions, compliant with PCI DSS standards</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="why-block">
            <div class="img">
              <div class="bg-w3"></div>
            </div>
            <h4>world coverage</h4>
            <p>Providing services in 99% countries around the globe, including 24 states of USA</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="why-block">
            <div class="img">
              <div class="bg-w4"></div>
            </div>
            <h4>competitive commissions</h4>
            <p>0% trade fee for makers, smart maker-taker model, special conditions for high-volume traders</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="why-block">
            <div class="img">
              <div class="bg-w5"></div>
            </div>
            <h4>advanced reporting</h4>
            <p>Downloadable reports, real-time balance, transactions history with transparent fees</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="why-block">
            <div class="img">
              <div class="bg-w6"></div>
            </div>
            <h4>High liquidity</h4>
            <p>Fast order execution, low spread, access to high liquidity orderbook for top currency pairs</p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <footer>
    <section class="footer-Content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="soc_ic">
              <a href="https://twitter.com/buucoin" class="soc_icon fa fa-twitter" target="_blank" title="Twitter"></a>
              <a href="https://www.facebook.com/buuCoin" class="soc_icon fa fa-facebook" target="_blank" title="Facebook"></a>
              <a href="https://www.linkedin.com/in/buu-coin-426845176/" class="soc_icon fa fa-linkedin" target="_blank" title="LinkedIn"></a>
              <a href="https://www.instagram.com/buucoin" class="soc_icon fa fa-instagram" target="_blank" title="Instagram"></a>
              <a href="https://github.com/nebcoin/BUUCOIN" class="soc_icon fa fa-github" target="_blank" title="GitHub"></a>
              <a href="https://www.reddit.com/user/BuuCoin" class="soc_icon fa fa-reddit" target="_blank" title="Reddit"></a>
              <a href="https://medium.com/@buucoin" class="soc_icon fa fa-medium" target="_blank" title="Medium"></a>
              <a href="https://t.me/BuuCoin_Portal" class="soc_icon fa fa-paper-plane" target="_blank" title="Telegram"></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <img src="../../../assets/images/logo.png" alt="">
            <div class="textwidget xs-mt-20">
              <p>BuuCoin is a cross-platform common rewarding portal for the crypto currency market. We offer a
                platform to reward investors…</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <div class="widget">
              <h3 class="block-title">Contacts</h3>
              <ul class="menu">
                <li>
                  <p>
                    Address : 80 State Street , Albany , New York 12207-2543
                  </p>
                </li>
                <li>
                  <p>Website : buucoins.io</p>
                </li>
                <li>
                  <p><span> Email : </span> <a href="mailto:info@buucoins.io"> info@buucoins.io</a></p>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <div class="widget">
              <h3 class="block-title">Links</h3>
              <ul class="menu">
                <li><a href="javascript:void(0);">What is BUU</a></li>
                <li><a href="javascript:void(0);">Explorer</a></li>
                <li><a href="javascript:void(0);">BUU Exchange</a></li>
                <li><a href="javascript:void(0);">Mobile Wallet</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <div class="widget">
              <h3 class="block-title">Newsletter</h3>
              <div class="form-group">
                <input type="text" class="news-latter" placeholder="Enter Your Email Address">
              </div>
              <div class="form-group">
                <a href="javascript:void(0);" class="btn-subtitle">Subscribe</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="copyright">
          <div class="row">
            <div class="col-md-12">
              <div class="site-info float-left">
                <p>Copyright © 2018 BuuCoin. All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
</div> -->

