<div class="row">
  <div class="col-md-12">
    <div class="market-content">
      <div class="row ">
        <div class="col-md-12">
          <ul class="nav nav-tabs nav__buy_sell_menu history">
            <li class="active"><a data-toggle="tab" href="#yoo"> Your Open Orders</a></li>
            <li><a data-toggle="tab" href="#ysl">Your Stop Limit</a></li>
          </ul>
          <div class="tab-content nav__buy_sell_history order__table_scroll">
            <div id="yoo" class="tab-pane fade in active market-info">
              <div class="">
                <app-loader [IsLoading]="loading"></app-loader>
                <!-- <div class="data-box support-scroll-container ps"  [perfectScrollbar]="config"
                  style="position: relative;    max-height: calc(98vh - 170px);"> -->
                <div class="data-box support-scroll-container ps"
                  style="position: relative;    max-height: calc(98vh - 170px);">
                  <div class="mac" *ngFor="let obj of openOrderlist">
                    <div class="row xs-mb-10">
                      <div class="col-md-12">
                        <div class="col-md-12">
                          <div class="buy-label"> {{ obj.Pair }}
                            <div class="cr__line">
                              <div></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive animated fadeIn">
                      <table class="table  cr__table order__table_scroll no-effect">
                        <thead>
                          <tr class="table-head">
                            <th class="text-center">Type</th>
                            <th class="text-center">
                              <!-- <span>Price ({{ obj.Pair | splitString:'/':1 }})</span> -->
                              <span>Price ({{ obj.Pair }})</span>
                            </th>
                            <th class="text-center">
                              <!-- <span>Amount ({{ obj.Pair | splitString:'/':0 }})</span> -->
                              <span>Amount ({{ obj.Pair }})</span>
                            </th>
                            <th class="text-center">
                              <!-- <span>Total ({{ obj.Pair | splitString:'/':1 }})</span> -->
                              <span>Total ({{ obj.Pair }})</span>
                            </th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of obj.OpenOrder"
                            [ngClass]="{'cr_success': item.OrderType == 'BUY', 'cr_danger': item.OrderType == 'SELL'}">
                            <td class="text-center">
                              <span
                                [ngClass]="{'text-success': item.OrderType == 'BUY', 'text-danger': item.OrderType == 'SELL'}">{{
                                item.OrderType }}</span>
                            </td>
                            <!-- <td class="text-center"> {{ item.Price | appDynamicDigit: 8 }} </td> -->
                            <td class="text-center"> {{ item.Price}} </td>
                            <!-- <td class="text-center"> {{ item.Amount | appDynamicDigit: 8 }} </td> -->
                            <td class="text-center"> {{ item.Amount}} </td>
                            <!-- <td class="text-center"> {{ item.Total | appDynamicDigit: 8 }} </td> -->
                            <td class="text-center"> {{ item.Total}} </td>
                            <!-- <td class="text-center"> {{ item.OnDate | appDateFormat }} </td> -->
                            <td class="text-center"> {{ item.OnDate }} </td>
                            <td class="text-center">
                              <a class="btn btn-xs btn-danger" href="javascript:void(0)" (click)="CancelOrder(item)">
                                <i class="fa fa-times-circle"></i> Cancel</a>
                            </td>
                          </tr>
                          <tr *ngIf="obj.OpenOrder?.length == 0">
                            <td colspan="3"> No data found</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div *ngIf="openOrderlist == undefined || openOrderlist?.length == 0">
                  <p class="text-center not-f">
                    You have no open orders.
                  </p>
                </div>
              </div>
            </div>
            <div id="ysl" class="tab-pane fade ">
              <div class="" *ngIf="stopLimit">
                <app-loader [IsLoading]="loading"></app-loader>
                <!-- <div class="data-box support-scroll-container ps" [perfectScrollbar]="config"
                  style="position: relative;    max-height: calc(98vh - 170px);"> -->
                <div class="data-box support-scroll-container ps"
                  style="position: relative;    max-height: calc(98vh - 170px);">
                  <div class="mac" *ngFor="let obj of stopLimit">
                    <div class="row xs-mb-10">
                      <div class="col-md-12">
                        <div class="col-md-12">
                          <div class="buy-label"> {{ obj.Pair }}
                            <div class="cr__line">
                              <div></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class=" table-responsive  animated fadeIn">
                      <table class="table  cr__table order__table_scroll no-effect">
                        <thead>
                          <tr class="table-head">
                            <th class="text-center">Type</th>
                            <th class="text-center">
                              <!-- <span>Stop ({{ obj.Pair | splitString:'/':1 }})</span> -->
                              <span>Stop ({{ obj.Pair}})</span>
                            </th>
                            <th class="text-center">
                              <!-- <span>Limit ({{ obj.Pair | splitString:'/':1 }})</span> -->
                              <span>Limit ({{ obj.Pair }})</span>
                            </th>
                            <th class="text-center">
                              <!-- <span>Amount ({{ obj.Pair | splitString:'/':0 }})</span> -->
                              <span>Amount ({{ obj.Pair}})</span>
                            </th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of obj.StopLimit"
                            [ngClass]="{'cr_success': item.OrderType == 'BUY', 'cr_danger': item.OrderType == 'SELL'}">
                            <td class="text-center">
                              <span
                                [ngClass]="{'text-success': item.OrderType == 'BUY', 'text-danger': item.OrderType == 'SELL'}">{{
                                item.OrderType }}</span>
                            </td>
                            <!-- <td class="text-center"> {{ item.Stop | appDynamicDigit: 8 }} </td> -->
                            <td class="text-center"> {{ item.Stop}} </td>
                            <!-- <td class="text-center"> {{ item.Limit | appDynamicDigit: 8 }} </td> -->
                            <td class="text-center"> {{ item.Limit}} </td>
                            <!-- <td class="text-center"> {{ item.Amount | appDynamicDigit: 8 }} </td> -->
                            <td class="text-center"> {{ item.Amount}} </td>
                            <!-- <td class="text-center"> {{ item.CreatedDate | appDateFormat }} </td> -->
                            <td class="text-center"> {{ item.CreatedDate}} </td>

                            <td class="text-center">
                              <a class="btn btn-xs btn-danger" href="javascript:void(0)"
                                (click)="CancelStopLimitOrder(item)">
                                <i class="fa fa-times-circle"></i> Cancel</a>
                            </td>
                          </tr>
                          <tr *ngIf="obj.StopLimit?.length == 0">
                            <td colspan="3"> No data found</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div *ngIf="stopLimit == undefined || stopLimit?.length == 0">
                  <p class="text-center not-f">
                    You have no stop limit orders.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>